body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c2127ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --modal-duration: 1s;
  --primary-color: #87cefa;
  --secondary-color: #9370db;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --primary_color: #5fbaa7;
}

* {
  box-sizing: border-box;
}
